.button {
    background-color: #202020;
    padding: 12px;
    border-radius: 2px;
    width: 100px;
  }
  .uuu {
    background-color: #2fff20;
    padding: 12px;
    border-radius: 2px;
    width: 100px;
  }  
  
  .block {
    background-color: white;
    padding: 12px;
    border-radius: 2px;
    width: 300px;
    height: 300px;
    border:1px solid gray;

  }