   .imageW {
    width: 100px;
    height: 100px;
    border: 1px solid gray;
  }

  .reqBlock {
    width: 400px;
    height: 200px;
    border: 1px solid gray;
    margin-top:10px;
  }

  .fl {
    float:left;
  }

  .fr {
    float:right;
  }

  .both {
    clear:both;
  }